<form class="grid island-1-2" action="#" method="post">
  {% for field in include.form.fields %}
    <div class="unit [ xs-1 m-{{ field.width }} ] island-1-2">
    {% if field.type == 'textarea' %}
      <input id="{{ field.label | downcase | replace: ' ','-' }}" name="{{ field.label | downcase | replace: ' ','-' }}" placeholder="{% if field.placeholder %}{{ field.placeholder }}{% else %}{{ field.label }}*{% endif %}">
      <label class="hidden" for="{{ field.label | downcase | replace: ' ','-' }}">{{ field.label }}</label>
    {% else %}
      <input {% unless field.type == 'text' %}type="{{ field.type }}" {% endunless %}id="{{ field.label | downcase | replace: ' ','-' }}" name="{{ field.label | downcase | replace: ' ','-' }}" placeholder="{% if field.placeholder %}{{ field.placeholder }}{% else %}{{ field.label }}*{% endif %}">
      <label class="hidden" for="{{ field.label | downcase | replace: ' ','-' }}">{{ field.label }}</label>
    {% endif %}
    </div>
  {% endfor %}
  <!-- <div class="unit [ xs-1 m-1-2 ] island-1-2">
    <input id="full-name" name="full-name" placeholder="Full Name*">
    <label class="hidden" for="full-name">Full Name</label>
  </div>
  <div class="unit [ xs-1 m-1-2 ] island-1-2">
    <input id="email" name="email" placeholder="Email*">
    <label class="hidden" for="email">Email</label>
  </div>
  <div class="unit [ xs-1 ] island-1-2">
    <input id="subject" name="subject" placeholder="Subject*">
    <label class="hidden" for="subject">Subject</label>
  </div>
  <div class="unit [ xs-1 ] island-1-2">
    <textarea id="message" name="message" placeholder="Message*"></textarea>
    <label class="hidden" for="message">Message</label>
  </div> -->
  <div class="unit [ xs-1 ] island-1-2">
    <button class="line-highlight giga bold" type="submit">Submit</button>
  </div>
</form>
