<section id="{{ include.title | slugify }}" class="push-2">
  <div class="wrapper pad-t-2 pad-b-2 gutter text-center">
    <h2>{{ include.title }}</h2>
    <div class="grid island-1-2">
      {% for video in include.videos %}
      <div class="unit [ xs-1 m-{{ video.mWidth }} l-{{ video.lWidth }} ] island-1-2">
        <div class="embed embed-16by9">
          <iframe class="embed-item" src="{{ video.link }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
