<nav id="{{ include.navId }}" class="{{ include.navClass }}" role="navigation">
  <ul class="list-group push-0">
    <li>
      <a href="/#work">Work</a>
    </li>
    <li>
      <a href="/#about">About</a>
    </li>
    <li class="has-dropdown">
      <a href="/behind-the-scenes">Behind the Scenes</a>
      <ol class="list-group push-0 dropdown pad-t-1-2 gutter-1-2">
        {% for bts in site.behind-the-scenes %}
        <li><a href="{{site.baseurl}}/{{ bts.url }}">{{ bts.title }}</a></li>
        {% endfor %}
      </ol>
    </li>
    <li>
      <a href="/#contact">Contact</a>
    </li>
  </ul>
</nav>
